body{
    width: 100%;
    margin: 0;
    font-size: 18px;
    background-color: rgb(235, 235, 235);
}

header{
    overflow: hidden;
    text-align: center;
    color: whitesmoke;
    background-color: #222;
    font-size: 24px;
}


ul {
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    background-color: #777;
}
  
li {
    float: left;
    border: 0;
}
  
li a {
    border: 0;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}  

li a:hover {
    background-color: rgb(65, 65, 65);
}

.container{
    width: 70%;
    margin: auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 20% 50%;
    grid-column-gap: 2em;
}

.block1 h1{
    font-size: 30px;
    margin-bottom: 40px;
}

.block2 h1{
    font-size: 30px;
    margin-bottom: 40px;
}

.block2 h2{
    margin-top: 30px;
    font-size: 20px;
    font-style: bold;
}

footer {
    padding: 15px 0;
    position:relative;
    margin-top: 30px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #777;
    color: white;
    text-align: center;
}